<article class="hentry {% if page.class %}{{page.class}}{% endif %}">
  <hr />
  <header>
    {% if page.title %}
    <h2 class="entry-title">{{page.title}}</h2>
    {% endif %}
    {% if page.subtitle %}
    <h2>
      {{page.subtitle}}
    </h2>
    {% endif %}
  </header>
{% comment %}Content Below{% endcomment %}
  <div class="entry-content prose">

    <hr />
    {{ content }}
    {% if page.include %}
      {% include {{page.include}} %}
    {% endif %}
  </div>
  {% if site.include_addthis_sharing %}
    <div class="sharing">
      {% include articles/sharing.html %}
    </div>
  {% endif %}

    {% if page.url contains '/article/' %}
    {% include articles/comments-twitter.html %}
      {% include global/license-creative-commons.html %}
    {% endif %}
    {% include global/edit.html %}


</article>
