// getting started
// gem install bourbon neat bitters
// cd _sass
// bitters install 
// cd _sass/libs
// bourbon install
// neat install
// uncomment and change neat directory in bitters/_bitters
// refills and add-ons (modules) are installed manually

// sass --watch --style compressed screen.scss:screen.css
// sass --watch --style expanded screen.scss:screen.css


@import "../_bower_components/normalize-scss/_normalize";
@import "_sass/libs/bourbon/bourbon";
@import "_sass/bitters/bitters";
@import "_sass/libs/neat/neat";


// BASIC MODULES
@import "_sass/modules/article";	
@import "_sass/modules/navigation-side";
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999999;
  opacity:0.2;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,800italic,400,300,800|Lora:400,700,400italic,700italic);



body.home {
  text-align: center;
}

body.home h4 {
  
  text-align: center;
}
body.home p img {
  float: none;
  text-align: center;
  width: 500px;
  margin: auto;
   box-shadow: 0px 1px 3px #000;
}

.sidebar-left h1 a{
  //color: #674b23;
}